body {
  /*font-family: 'Orbitron', sans-serif;*/
  background-color: #ffff;	
  background: url("../images/usa.jpg");
  font-family: 'Bungee Inline', cursive;

}

.squareRed {
    width: 140px;
    /*border-style:2px solid red;*/
    background: green;
    padding: 4px;
    
    margin: 2px;
    text-align: center;
    height: 200px;
  }

  .token {
    background: green;
    height: 160px;
  }

  .squareGreen {
    /*width: 140px;
    /*border-style:2px solid red;*/
    background: green;
    /*padding: 4px;
    
    margin: 2px;
    text-align: center;
    height: 200px;*/
  }


  .card1 {
    width: 140px;
    /*height: 200px;*/
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
  }

  .cardColor {
    color: orange;
  }

  .container2 {
    text-align: center;
    color: orange;
    width: 200px;
    height: 200px;
    border-style: solid;
    padding: 2px;
    float: left;
    
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 20px;
  }


  .container3 {
    text-align: center;
    color: orange;
    width: 200px;
    height: 200px;
    border-style: solid;
    padding: 2px;
    float: left;
    
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 20px;
  }

  .colorTittle{
  	color: white;
  }



  .mainTittleClass{
  	font-family: 'Bungee Inline', cursive;
  	font-size: 60px;
	  line-height: 80px;
	  text-align: center;
    opacity: 1;
    color: blue;
    background: grey;
  }  



  #bodyshop{
    width: 100%;
    max-width: 960px;
    min-width: 100px;
    margin: auto auto;
    clear: both;
    font-family: 'Bungee Inline', cursive;
  }

  .container1{
    text-align: center;
    color: orange;
    width: 800px;
    height: 600px;
    border-style: solid;
    padding: 80px;
    float: left;
    margin: 60px;
    background: grey;
    opacity: 0.8;

  }

  .buttonStartClass{
    width: 400px;
    height: 100px;
    margin-top: 100px;
    font-size: 40px;
    line-height: 60px;

  }